<div class="container">
  <div class="row">
    <div class='col-md-2'>
      <div class="most-grey">
        <h2></h2>
      </div>
    </div>
  <div class="row">
    <div class='col-md-8'>
      <div class="more-grey">
        <h2><%= @menu.title %></h2>
        <% if logged_in? %>
          <small><%= link_to "Edit", edit_menu_path %></small>
        <% end %>
        <p>
          <%= @menu.menu %>
        </p>
      </div>
    </div>
  </div>
</div>


