<center><h3>Our Menu</h3</center>
<div class="menu">
  <div class="more-grey">
    <ul>
      <%= @menu.title %>
      <hr/>
      <%= @menu.menu %>
      <hr/>
    </ul>
    <% if logged_in? %>
      <td><small><%= link_to "Edit", edit_menu_path %></small></td>
    <% end %>
  </div>
</div>


