<center><h3 color="red">Our Menu</h3</center>
<div class="menu">
  <div class="more-grey">
    <ul>
      <%= @menu.title %>
      <hr/>
      <%= @menu.menu %>
      <hr/>
      <td><small><%= link_to "Edit", edit_menu_path %></small></td>
    </ul>
  </div>
</div>


