<!DOCTYPE html>
<html>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>ITR: On the Roll</h1>
        <form>
          <input type="text" name="email">
          <button type="button" class="btn btn-success">Join Newsletter</button>
        </form>
      </div>
    </div>
    <div class="neighborhood-guides">
      <div class="container">
        <center>
          <h2>Our specialties</h2>
              <p>Not sure what to eat? Try one of our favorites</p>
            </center><br/>
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                        <img src="http://www.dineouthere.com/images/sushi-town-17.jpg">
                        <p><strong>The Daddy Roll</strong>. It has some fried stuff element to it, you'll like it</p>
                      </div>
                      <div class="thumbnail">
                        <img src="http://www.tulsapeople.com/in%20the%20raw5689.jpg">
                        <center><p>I think it's a <strong>Candy Roll</strong><p></center>
                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                        <img src="http://wwwdelivery.superstock.com/WI/223/1532/PreviewComp/SuperStock_1532R-55256.jpg">
                         <p>A fried roll, what else do you need to know?</p>
                      </div>
                      <div class="thumbnail">
                        <img src="http://www.travelandleisure.com/images/amexpub/0034/2887/201212-w-best-sushi-restaurants-roka-akor.jpg">
                        <p>We even semi-cook our nigiri, just to be safe</p>

                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://cookingontheweekends.com/wp-content/uploads/2012/05/April13-Shrimp-Ceviche31.jpg">
                          <p>Ceviche on a martini glass, can't get more original than this!</p>
                      </div>
                  </div>
              </div>
          </h2>
      </div>
    </div>
    <div class="learn-more">
      <center><h2>Why us?</h2></center><br/>
    <div class="container">
     <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="leo2.jpg">
          </div>
          <h3>Executive Chef</h3>
          <p>Leo Bandana? The Big Kahuna? Magic Leo?</p>
          <p><a href="#">See him works out</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://www.tulsagrit.com/images/full-780/in-the-raw-food-truck.jpg">
          </div>
          <h3>Multiple locations</h3>
          <p>It's a food truck! Our location changes everyday. </p>
          <p><a href="#">Learn more</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://a4.urbancdn.com/w/s/Su/M3DInxMUimhaQ0-640m.jpg">
          </div>
        </div>
        <div class="col-md-4">
          <h3>Trust our brand</h3>
          <p>It's essentially In the Raw without tipping your server :) Unless you really want to </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  </body>
  <hr/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Studio</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>