<!DOCTYPE html>
<html>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Get yo' sushi, now!</h1>
        <p>fresh? raw? cooked? greasy? a little bit of everything? don't want to tip? OK!</p>
        <%= link_to "Menu", new_menu_path(@menu) %>
      </div>
    </div>
    <div class="neighborhood-guides">
      <div class="container">
          <h2>Our specialties</h2>
              <p>Not sure what to eat? Try one of our favorites</p>
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://s3-media3.ak.yelpcdn.com/bphoto/Jx4jwD3Dxl4n83_0RxCzAQ/o.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://www.tulsapeople.com/in%20the%20raw5689.jpg">
                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://wwwdelivery.superstock.com/WI/223/1532/PreviewComp/SuperStock_1532R-55256.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://www.richmondmagazine.com/images/articles/1583d24996eb68a89c1394c8964a9070.jpg">
                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://cookingontheweekends.com/wp-content/uploads/2012/05/April13-Shrimp-Ceviche31.jpg">
                      </div>
                  </div>
              </div>
          </h2>
      </div>
    </div>
    <div class="learn-more">
    <div class="container">
     <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://1.bp.blogspot.com/_ZLBPns3ozuI/TREVtDE5FmI/AAAAAAAAAD8/4LR51bUmRQY/s320/DSC_7568.jpg">
          </div>
          <h3>Executive Chef</h3>
          <p>Leo Bandana? The Big Kahuna? He is very well known around Tulsa</p>
          <p><a href="#">See him Friday night at ITR</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://www.tulsagrit.com/images/full-780/in-the-raw-food-truck.jpg">
          </div>
          <h3>Multiple locations</h3>
          <p>It's a food truck! Our location changes everyday. </p>
          <p><a href="#">Learn more</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://a4.urbancdn.com/w/s/Su/M3DInxMUimhaQ0-640m.jpg">
          </div>
        </div>
        <div class="col-md-4">
          <h3>Trust our brand</h3>
          <p>It's essentially In the Raw without tipping your server :) Unless you really want to </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  </body>
  <hr/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>developed by &#0153;Seasalt Studio</p></center>
        </div>
      </div>
    </div>
  </footer>
</html>