<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="application.css">

  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Locations</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>got sushi?</h1>
        <p>greasy sushi? who doesn't like fried sushi with lots of mayo + side of ranch?</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="neighborhood-guides">
      <div class="container">
          <h2>Our specialties</h2>
              <p>Not sure what to eat? Try one of our favorites</p>
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://www.tucsonsentinel.com/files/entryimages/tacos_dale_001.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://static.tastykitchen.com/recipes/files/2009/11/garlic-fried-rice.jpg">
                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://wwwdelivery.superstock.com/WI/223/1532/PreviewComp/SuperStock_1532R-55256.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="http://www.richmondmagazine.com/images/articles/1583d24996eb68a89c1394c8964a9070.jpg">
                      </div>
                  </div>
                   <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="http://cookingontheweekends.com/wp-content/uploads/2012/05/April13-Shrimp-Ceviche31.jpg">
                      </div>
                  </div>
              </div>
          </h2>
      </div>
    </div>
    <div class="learn-more">
    <div class="container">
     <div class="row">
        <div class="col-md-4">
      <h3>Executive Chef</h3>
      <p>Leo Bandana? The Big Kahuna? He is very well known around Tulsa</p>
      <p><a href="#">See him Friday night at ITR</a></p>
        </div>
      <div class="col-md-4">
      <h3>Multiple locations</h3>
      <p>It's a food truck! Our location changes everyday. </p>
      <p><a href="#">Learn more</a></p>
      </div>
      <div class="col-md-4">
      <h3>Trust our brand</h3>
      <p>It's essentially In the Raw without tipping your server :) Unless you really want to </p>
      <p><a href="#">Learn more</a></p>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>