.pull-left li {
  font-size: 13px;
}

.nav li {
  display: inline;
}


.jumbotron {
  height:500px;
  background-image: asset-data-url('sashimi.jpg');
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: black;
  font-size: 35px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: red;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

#sticky {
  margin: 0px;
  position: fixed;
  z-index:1000;
  top: 0px;
  width: 100%;
  height: 60px;
  padding-top: 2px;
  /* Adds to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  /* Adds the transparent background */
  background-color: rgb(0,0,0);
  opacity: 0.9;
  color: rgba(1, 1, 1, 0.8);
}

#sticky a {
  font-size: 13px;
  padding-left: 22px;
  padding-right: 25px;
  color: orange;
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
}

#sticky a:hover {
  color: grey;
}

.btn-group {
  margin-right: 15px;
}

body {
 padding-top:60px;
 background-color: #6B4226;
 }

//form
.basic-grey {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  background: #EEE;
  padding: 20px 30px 20px 60px;
  font: 18px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #DADADA;
  margin-top:60px;
  margin-bottom:40px;
}
.basic-grey h1 {
  font: 25px Georgia, "Times New Roman", Times, serif;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #DADADA;
  margin: -10px -30px 30px -30px;
  color: #888;
}
.basic-grey h1>span {
  display: block;
  font-size: 15px;
}
.basic-grey label {
  display: block;
  margin: 0px 0px 5px;
}
.basic-grey label>span {
  float: left;
  width: 60px;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="password"], .basic-grey textarea,.basic-grey select{
  border: 1px solid #DADADA;
  color: #888;
  height: 40px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 20px;
  width: 80%;
  font: normal 20px/20px Georgia, "Times New Roman", Times, serif;
}

.basic-grey .button {
  background: #E48F8F;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
}
.basic-grey .button:hover {
  background: #CF7A7A
}

.menu {
  text-align: center;
  margin:60px;
  font: 30px Georgia, "Times New Roman", Times, serif;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: #FF8C00;
  padding: 20px 30px 20px 30px;
  font: 18px Georgia, "Times New Roman", Times, serif;
  color: #FF8C00;
  border:1px solid #DADADA;
  margin-top:60px;
  }

.menuform {
  columns: 3;
  rows: 20;
}

.more-grey {
  background: orange;
  margin-top: 30px;
}

.little-grey {
  background: green;
  margin-top: 30px;
}

.most-grey {
  background: violet;
  margin-top: 30px;
}
